.about-us {
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 140%;
   color: $gray;

   &__text-wrapper {
      display: flex;
      gap: 125px;
      margin-bottom: 80px;
   }

   &__title {
      flex: 1 1 100%;
   }

   &__text {
      flex: 1 1 100%;
   }

   &__wrapper {
      display: flex;
      margin-bottom: 165px;
      justify-content: space-between;
   }

   &__item {
      padding: 35px 30px 80px;
      text-align: center;
      border: 1px solid #cbcbcb;
      border-radius: 100%;
      transition: all 0.3s ease;

      &:hover {
         border: 1px solid rgba(253, 104, 7, 0.7);

         .about-us__img {
            filter: invert(45%) sepia(64%) saturate(2807%) hue-rotate(358deg) brightness(101%) contrast(98%);
            opacity: 0.7;
         }
      }
   }

   &__img {
      display: block;
      margin: 0 auto 10px;
   }

   &__subtitle {
      display: block;
      margin-bottom: 20px;
   }

   &__description {
      max-width: 270px;
   }
}
