.about-us {
  margin-bottom: 165px;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: $gray;

  @media (max-width: $bp480) {
    margin-bottom: 80px;
  }

  &:before {
    @include anchorForLink;
  }

  &__text-wrapper {
    display: flex;
    gap: 125px;
    align-items: flex-end;
    margin-bottom: 80px;

    @media (max-width: 1160px) {
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  &__title {
    flex: 1 1 100%;
  }

  &__text {
    flex: 1 1 100%;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1160px) {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 40px;
      column-gap: 65px;
    }
  }

  &__item {
    width: 330px;
    min-height: 330px;
    padding: 33px;
    overflow: hidden;
    text-align: center;
    border: 1px solid #cbcbcb;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;

    @media (max-width: $bp400) {
      width: 300px;
      min-height: 300px;
      padding: 22px;
    }
    @media (max-width: $bp365) {
      width: 275px;
      min-height: 275px;
      padding: 20px;
      line-height: 1.4;
    }
    @media (max-width: 335px) {
      width: 260px;
      min-height: 260px;
    }

    &:hover {
      border: 1px solid rgba(253, 104, 7, 0.7);

      .about-us__img {
        opacity: 1;
        filter: none;
      }
    }
  }

  &__img {
    margin-bottom: 10px;
    opacity: 0.6;
    filter: grayscale(1);
    transition: all 0.3s ease-in-out;
  }

  &__subtitle {
    display: block;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 125%;

    @media (max-width: $bp365) {
      margin-bottom: 10px;
    }
  }

  &__description {
    @media (max-width: $bp400) {
      font-size: 14px;
    }
    @media (max-width: 335px) {
      font-size: 13px;
    }
  }
}
