.banner {
  overflow: hidden;
  position: relative;
  height: 100vh;
  margin-bottom: 100px;
  padding-top: 49px;

  @media (max-width: $bp880) {
    overflow: inherit;
  }

  .inner {
    position: relative;
    top: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    transform: translateY(-50%);

    &::before {
      content: url(../img/blur-left.svg);
      position: absolute;
      top: 35%;
      left: -40%;
      z-index: -1;

      @media (max-width: $bp1440) {
        top: 3%;
      }
      @media (max-width: $bp880) {
        content: url(../img/mobile-blur-left.svg);
        left: 0%;
        top: 33%;
      }
    }

    &::after {
      content: url(../img/blur-right.svg);
      position: absolute;
      top: -40%;
      left: 80%;
      z-index: -1;

      @media (max-width: $bp1024) {
        top: -60%;
      }
      @media (max-width: $bp880) {
        content: url(../img/mobile-blur-right.svg);
        top: -50px;
        right: 0;
        left: inherit;
      }
    }

    .main-btn {
      margin-right: auto;

      @media (max-width: $bp880) {
        margin: 0 auto;
        padding: 22px 30px;
      }
      @media (max-width: $bp320) {
        padding: 18px 20px;
      }
    }
  }

  &__scroll {
    position: absolute;
    right: -20px;
    bottom: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    max-width: 139px;
    transform: rotate(90deg);
    animation: scroll-down-pulse 0.8s ease-in-out alternate infinite;

    @keyframes scroll-down-pulse {
      0% {
        transform: translateY(0) rotate(90deg);
        opacity: 0.8;
      }
      100% {
        transform: translateY(15px) rotate(90deg);
        opacity: 1;
      }
    }

    @media (max-width: $bp1380) {
      bottom: 80px;
    }
    @media (max-width: $bp1380) {
      bottom: 115px;
    }
    @media (max-width: $bp400) {
      right: -35px;
    }
    @media (max-width: $bp345) {
      display: none;
    }
  }

  &__scroll-down {
    font-weight: 300;
    font-size: 18px;
    color: $gray;
  }

  &__scroll-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid $gray;
    transition: all 0.3s;

    span {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      width: 8px;
      height: 8px;
      margin: auto;
      border-width: 1px 1px 0 0;
      border-style: solid;
      border-color: $gray;
      transition: all 0.3s;

      &:first-child,
      &:last-child {
        transform: translateX(-2px) rotateZ(45deg);
      }
    }
  }
}
