.banner {
  margin-bottom: 100px;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    z-index: 1;

    &::before {
      content: url(../img/blur-left.svg);
      position: absolute;
      top: 35%;
      left: -40%;
      z-index: -1;

      @media (max-width: $bp880) {
        content: url(../img/mobile-blur-left.svg);
        left: -35%;
      }
      @media (max-width: $bp700) {
        left: -65%;
        top: 50%;
      }
      @media (max-width: $bp480) {
        left: -100%;
        top: 50%;
      }
    }

    &::after {
      content: url(../img/blur-right.svg);
      position: absolute;
      top: -40%;
      left: 80%;
      z-index: -1;

      @media (max-width: $bp880) {
        content: url(../img/mobile-blur-right.svg);
        top: -30%;
        left: 65%;
      }
      @media (max-width: $bp600) {
        top: -30%;
        left: 45%;
      }
    }

    .main-btn {
      margin-right: auto;

      @media (max-width: $bp880) {
        margin: 0 auto;
      }
    }
  }

  &__title {
    margin-bottom: 40px;
  }

  &__scroll {
    max-width: 139px;
    position: absolute;
    bottom: 150px;
    right: -20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    transform: rotate(90deg);
    animation: scroll-down-pulse 0.8s ease-in-out alternate infinite;

    @keyframes scroll-down-pulse {
      0% {
        transform: translateY(0) rotate(90deg);
        opacity: 0.8;
      }
      100% {
        transform: translateY(3px) rotate(90deg);
        opacity: 1;
      }
    }

    @media (max-width: $bp880) {
      margin-top: 200px;
    }
    @media (max-width: $bp1380) {
      bottom: 65px;
    }
  }

  &__scroll-down {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: $gray;
  }

  &__scroll-icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid $gray;
    transition: all 0.3s;
    position: relative;

    span {
      display: block;
      width: 8px;
      height: 8px;
      border-width: 1px 1px 0 0;
      border-style: solid;
      border-color: $gray;
      transition: all 0.3s;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;

      &:first-child,
      &:last-child {
        transform: translateX(-2px) rotateZ(45deg);
      }
    }
  }
}
