.banner {
  margin-bottom: 100px;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .inner {
    position: relative;
    z-index: 1;

    &::before {
      content: url(../img/blur-left.svg);
      position: absolute;
      top: 25%;
      left: -45%;
      z-index: -1;
    }

    &::after {
      content: url(../img/blur-right.svg);
      position: absolute;
      top: -140%;
      left: 80%;
      z-index: -1;
    }

    .main-btn {
      @media (max-width: $bp880) {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
      }
      @media (max-width: $bp700) {
        padding: 18px 14px;
      }
      @media (max-width: $bp480) {
        padding: 11px 6px;
        font-size: 13px;
      }
      @media (max-width: $bp425) {
      }
    }

    @media (max-width: $bp880) {
      &::before {
        content: " ";
      }
    }
  }

  &__title {
    max-width: 980px;
    margin: 260px 0 40px 0;

    @media (max-width: $bp1100) {
      font-size: 80px;
      margin: 150px 0 40px 0;
    }
    @media (max-width: $bp880) {
      max-width: 529px;
      margin: 100px auto 40px;
      text-align: center;
    }
    @media (max-width: $bp700) {
      font-size: 65px;
    }
    @media (max-width: $bp480) {
      max-width: 270px;
      font-size: 48px;
      line-height: 139.99%;
    }
  }

  &__scroll {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 120px;
    transform: rotate(90deg);

    @media (max-width: $bp880) {
      margin-top: 165px;
    }
    @media (max-width: $bp768) {
      right: -25px;
    }
  }

  &__scroll-down {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: $gray;
  }

  &__scroll-icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid $gray;
    transition: all 0.3s;
    position: relative;

    span {
      display: block;
      width: 8px;
      height: 8px;
      border-width: 1px 1px 0 0;
      border-style: solid;
      border-color: $gray;
      transition: all 0.3s;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;

      &:first-child,
      &:last-child {
        transform: translateX(-2px) rotateZ(45deg);
      }
    }
  }

  &__blur_left {
    position: absolute;
    left: -450px;
    pointer-events: none;
  }

  &__blur_right {
    position: absolute;
    top: -400px;
    right: -525px;
    pointer-events: none;
  }
}
