.contacts {
  padding: 60px 0 80px 0;
  background-color: $gray;

  &__title {
    margin-bottom: 60px;
    color: $black;

    @media (max-width: $bp480) {
      margin-bottom: 25px;
    }
  }

  &__btn {
    border: 3px solid $orange;
    border-radius: 3px;
    background-color: transparent;

    &:hover {
      border: 3px solid transparent;
      color: $black;
    }

    @media (max-width: $bp700) {
      padding: 15px 25px;
    }
    @media (max-width: $bp480) {
      font-size: 16px;
    }
    @media (max-width: $bp365) {
      padding: 10px 12px;
      font-size: 14px;
    }
    @media (max-width: $bp320) {
      padding: 10px 10px;
      font-size: 13px;
    }
  }

  .content {
    display: flex;
    gap: 30px;

    @media (max-width: $bp600) {
      flex-wrap: wrap;
      padding: 35px 0 27px 0;
    }

    &__title {
      display: block;
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 32px;
      color: $black;

      @media (max-width: $bp600) {
        margin-bottom: 13px;
        font-size: 18px;
      }
    }

    &__text {
      font-weight: 300;
      font-size: 20px;
      color: $black;

      @media (max-width: $bp480) {
        font-size: 16px;
      }
    }
  }

  &__whole-content {
    display: flex;
    gap: 200px;

    @media (max-width: $bp1100) {
      gap: 70px;
    }
    @media (max-width: $bp991) {
      flex-wrap: wrap;
    }
    @media (max-width: $bp480) {
      gap: 30px;
    }
  }
}
