.footer {
  border-top: 0.5px solid $gray;

  .inner {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;

    @media (max-width: 708px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .text-info {
      display: flex;
      flex-wrap: wrap;
      gap: 300px;
      margin-right: 150px;

      li {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }

      &__item {
        margin-bottom: 20px;
        color: $light_gray_text;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        transition: all 0.3s ease;

        &_title {
          margin-bottom: 20px;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          color: $gray;
          cursor: default;
        }

        &:hover {
          color: $gray;
        }
      }

      &__img {
        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.15);
        }
      }

      @media (max-width: $bp991) {
        gap: 85px;
      }

      @media (max-width: 549px) {
        gap: 40px;
      }
    }

    .logo-block {
      position: relative;

      &__logo {
        display: block;
        width: 100px;
        margin: 0px 0px 15px auto;

        @media (max-width: 708px) {
          margin: 40px 0px 15px 0;
        }
      }

      &__lang {
        text-align: right;

        @media (max-width: 708px) {
          margin-bottom: 40px;
          text-align: left;
        }
      }

      &__lang-btn {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        color: $gray_text;
        transition: all 0.3s ease;

        &:hover {
          color: $light_gray_text;
        }

        &:not(:last-child) {
          margin-right: 24px;
        }
      }

      &__rights {
        display: block;
        width: 170px;
        position: absolute;
        bottom: 0;
        right: 0;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        text-align: right;
        color: $light_gray_text;

        @media (max-width: 708px) {
          position: relative;
          text-align: left;
        }
      }
    }

    @media (max-width: $bp768) {
      flex-wrap: wrap;
    }
  }
}
