.form {
  margin-bottom: 230px;

  @media (max-width: $bp768) {
    margin-bottom: 140px;
  }
  @media (max-width: $bp600) {
    margin-bottom: 100px;
  }

  &__title {
    max-width: 700px;
    margin: 90px 0 95px;

    @media (max-width: $bp600) {
      max-width: inherit;
      margin: 15px 0 50px;
    }
  }

  &__input-wrap {
    position: relative;

    &_details {
      @media (max-width: $bp1360) {
        order: 2;
      }
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;

    @media (max-width: $bp1360) {
      flex-direction: column;
    }

    @media (max-width: $bp600) {
      gap: 40px;
    }
  }

  input {
    position: relative;
    width: 100%;
    max-width: 420px;
    min-width: 348px;
    padding-bottom: 15px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: $gray;
    background: transparent;
    border-bottom: 1px solid $gray;
    outline: none;

    @media (max-width: $bp600) {
      min-width: 100%;
    }

    &:focus,
    &:not(:placeholder-shown),
    &:-webkit-autofill {
      & + label {
        transform: translateY(-1.5em) scale(0.8);
        font-size: 20px;
        line-height: 145%;
      }
    }
  }

  .input__name {
    min-width: 420px;

    @media (max-width: $bp600) {
      min-width: 100%;
    }
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #0c0c0c inset !important;
    -webkit-text-fill-color: #fff !important;
  }

  label {
    position: absolute;
    bottom: 5px;
    left: 0;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    color: $gray_text;
    transition: all 0.3s ease-in-out;
    transform-origin: 0 0;
    cursor: text;

    @media (max-width: $bp600) {
      font-size: 20px;
      line-height: 24px;
    }

    sup {
      font-size: 22px;
    }
  }

  textarea {
    min-width: 750px;
    min-height: 49px;
    max-height: 300px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    resize: vertical;
    color: $gray;
    background: transparent;
    border-bottom: 1px solid $gray;
    outline: none;

    @media (max-width: $bp880) {
      min-width: 100%;
    }

    & + label {
      top: 5px;
    }

    &:focus,
    &:not(:placeholder-shown),
    &:-webkit-autofill {
      & + label {
        transform: translateY(-1.5em) scale(0.8);
        font-size: 20px;
        line-height: 145%;
      }
    }
  }

  $height: 49px;

  .select {
    position: relative;
    z-index: 9;
    width: 100%;
    max-width: 425px;
    min-width: 425px;
    white-space: nowrap;

    @media (max-width: $bp1360) {
      order: 1;
    }
    @media (max-width: $bp600) {
      max-width: 100vw;
      min-width: inherit;
    }
    @media (max-width: $bp428) {
      max-width: 85vw;
    }
    @media (max-width: $bp375) {
      max-width: 80vw;
    }

    &.open {
      .select__dropdown {
        display: block;
      }

      .select__input {
        border-bottom: 1px solid transparent;
      }
    }

    &__input {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: $height;
      padding-right: 45px;
      border-bottom: 1px solid $gray;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        right: 40px;
        width: 1px;
        height: 27px;
        background: $gray_text;
      }

      .select__arrow {
        pointer-events: none;
        position: absolute;
        top: 60%;
        right: 10px;
        display: inline-block;
        width: 0.82rem;
        height: 1rem;
        transform: scale(1.5) translateY(-50%);

        span {
          position: absolute;
          top: 0.5rem;
          display: inline-block;
          width: 0.5rem;
          height: 0.05rem;
          background-color: $gray_text;
          transition: all 0.2s ease;
        }

        span:first-of-type {
          left: 0;
          transform: rotate(45deg);
        }

        span:last-of-type {
          right: 0;
          transform: rotate(-45deg);
        }

        &.open {
          span:first-of-type {
            transform: rotate(-45deg);
          }

          span:last-of-type {
            transform: rotate(45deg);
          }
        }
      }

      span {
        pointer-events: none;
        overflow: hidden;
        font-weight: 300;
        font-size: 32px;
        line-height: 38px;
        white-space: nowrap;
        color: $gray_text;

        @media (max-width: $bp600) {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }

    &__dropdown {
      position: absolute;
      right: 0;
      left: 0;
      display: none;
      top: $height;
      overflow-y: auto;
      border-radius: 5px;
      background: $black;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      .select__list {
        .select__item {
          padding: 10px 20px;
          font-weight: 300;
          font-size: 24px;
          line-height: 28px;
          color: $gray;
          cursor: pointer;

          @media (max-width: $bp600) {
            padding: 10px 15px;
            font-size: 19px;
          }
          @media (max-width: $bp375) {
            font-size: 17px;
          }

          &.selected {
            background: $gray_text;
          }

          &:hover {
            background-color: #383839;
            transition: 0.15s background-color ease-in;
          }
        }
      }
    }
  }

  button {
    @media (max-width: $bp1360) {
      order: 3;
      width: fit-content;
    }
    @media (max-width: $bp600) {
      padding: 21px 28px;
    }
  }
}
