.form {
  // background: blueviolet;

  &__title {
    max-width: 700px;
    margin: 90px 0 95px;
  }

  &__input-wrap {
    position: relative;
  }

  input {
    background: transparent;
    outline: none;
    border-bottom: 1px solid #dadada;
    min-width: 250px;
    max-width: 420px;
    width: 100%;
    padding-bottom: 15px;
    position: relative;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #dadada;

    &:focus,
    &:not(:placeholder-shown),
    &:-webkit-autofill {
      & + label {
        transform: translateY(-1.5em) scale(0.8);
        font-size: 20px;
        line-height: 145%;
      }
    }
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #0c0c0c inset !important;
    -webkit-text-fill-color: white !important;
  }

  label {
    position: absolute;
    left: 0;
    bottom: 5px;
    transform-origin: 0 0;
    transition: all 0.3s ease-in-out;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    color: #69696a;
    cursor: text;

    sup {
      font-size: 22px;
    }
  }

  textarea {
    max-width: 750px;
    outline: none;
    border-bottom: 1px solid #dadada;
    background: transparent;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #dadada;

    & + label {
      top: 5px;
    }

    &:focus,
    &:not(:placeholder-shown),
    &:-webkit-autofill {
      & + label {
        transform: translateY(-1.5em) scale(0.8);
        font-size: 20px;
        line-height: 145%;
      }
    }
  }

  $height: 45px;

  .select {
    width: 100%;
    max-width: 425px;
    position: relative;
    white-space: nowrap;
    z-index: 10;

    &__backdrop {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: transparent;
      z-index: -1;
      display: none;
    }

    &.open {
      .select__dropdown {
        display: block;
      }

      .select__input {
        border-bottom: none;
      }

      .select__backdrop {
        display: block;
      }
    }

    &__input {
      border-bottom: 1px solid #dadada;
      height: $height;
      align-items: center;
      padding-right: 45px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;

      .select__arrow {
        pointer-events: none;

        &.open {
          transform: rotate(180deg);
        }

        width: 15px;
      }

      span {
        white-space: nowrap;
        overflow: hidden;
        pointer-events: none;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 38px;
        color: #69696a;
      }
    }

    &__dropdown {
      display: none;
      position: absolute;
      border-radius: 5px;
      top: $height;
      left: 0;
      right: 0;
      max-height: 200px;
      overflow-y: auto;
      background: #1d1d1f;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      .select__list {
        .select__item {
          padding: 10px;
          border-bottom: 1px solid #ccc;
          font-family: 'Rubik';
          font-style: normal;
          font-weight: 300;
          font-size: 24px;
          line-height: 28px;
          font-variant: small-caps;
          color: #dadada;
          cursor: pointer;

          &.selected {
            background: #69696a;
          }

          &:hover {
            background-color: #eee;
            transition: 0.15 background-color ease-in;
          }
        }
      }
    }
  }
}
