// inner
.inner {
  max-width: ($innerWidth + $innerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $innerSidePadding + px;

  @media (max-width: $bp428) {
    padding: 0 30px;
  }
}

// Body Locked
body {
  font-family: $fontMain;
  background-color: $dark;

  &.locked {
    overflow: hidden;
  }
}

// Button
.main-btn {
  position: relative;
  display: inline-block;
  padding: 22px 55px;
  border: 1px solid $orange;
  border-radius: 3px;
  background: $orange;
  font-family: $fontMain;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: $black;
  white-space: nowrap;
  transition: all 0.3s;

  @media (max-width: $bp700) {
    padding: 17px 14px;
    font-size: 16px;
    line-height: 17px;
  }

  &:hover {
    border: 1px solid transparent;
    background: transparent;
    color: $gray;

    .line-1 {
      animation: move1 1500ms ease;
      animation-fill-mode: forwards;
    }

    .line-2 {
      animation: move2 1500ms ease;
    }

    .line-3 {
      animation: move3 1500ms ease;
      animation-fill-mode: forwards;
    }

    .line-4 {
      animation: move4 1500ms ease;
    }
  }
  .line-1,
  .line-2,
  .line-3,
  .line-4 {
    content: '';
    display: block;
    position: absolute;
    background-color: $orange;
  }
  .line-1 {
    width: 1px;
    left: 0;
    bottom: 0;
  }
  .line-2 {
    height: 1px;
    left: 0;
    top: 0;
  }
  .line-3 {
    width: 1px;
    right: 0;
    top: 0;
  }
  .line-4 {
    height: 1px;
    right: 0;
    bottom: 0;
  }
}

// Animations
@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}

@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

// Typography
h1 {
  font-family: $fontMain;
  font-weight: 300;
  font-size: 96px;
  line-height: 99.99%;
  color: $gray;
  margin-bottom: 40px;

  max-width: 980px;

  @media (max-width: $bp1100) {
    font-size: 80px;
  }
  @media (max-width: $bp880) {
    max-width: 529px;
    margin: 0px auto 40px;
    text-align: center;
  }
  @media (max-width: $bp700) {
    font-size: 65px;
  }
  @media (max-width: $bp480) {
    max-width: 270px;
    font-size: 38px;
    line-height: 139.99%;
  }
}

h2 {
  font-family: $fontMain;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: $gray;

  @media (max-width: $bp600) {
    font-size: 28px;
    line-height: 100%;
  }
}

.section-counter {
  position: relative;
  display: inline-block;
  margin-bottom: 60px;
  font-family: $fontMain;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: $gray;

  &::after {
    content: '';
    width: 56px;
    height: 1px;
    position: absolute;
    bottom: -15px;
    left: 0;
    background-color: $orange;
  }
}
