// inner
.inner {
  max-width: ($innerWidth + $innerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $innerSidePadding + px;

  // @media (max-width: $breakpoint1440) {
  //   max-width: 1280px;
  // }

  // @media (max-width: $breakpoint1235) {
  //   max-width: 1020px;
  // }

  // @media (max-width: $breakpoint1024) {
  //   max-width: 980px;
  // }

  // @media (max-width: $breakpoint768) {
  //   max-width: 688px;
  // }

  // @media (max-width: $breakpoint600) {
  //   max-width: none;
  // }
}

// Body Locked
body {
  font-family: $fontMain;
  height: 3000px;

  &.locked {
    overflow: hidden;
  }
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Button
.main-btn {
  display: inline-block;
  padding: 22px 55px;
  border: 1px solid $orange;
  border-radius: 3px;
  background: $orange;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: $black;
}

// Typography
h1 {
  font-family: $fontMain;
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  line-height: 99.99%;
  color: $gray;
}

h2 {
  font-family: $fontMain;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: $gray;
}

.section-counter {
  position: relative;
  margin-bottom: 60px;
  font-family: $fontMain;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: $gray;

  &::after {
    content: '';
    width: 56px;
    height: 1px;
    position: absolute;
    bottom: -15px;
    left: 0;
    background-color: $orange;
  }
}
