.technology {
  &__title {
    margin: 75px 0 40px 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 255px);
    grid-template-rows: repeat(3, 180px);
    justify-content: center;

    @media (max-width: $bp1380) {
      grid-template-columns: repeat(5, 190px);
      grid-template-rows: repeat(3, 185px);
    }
    @media (max-width: $bp1100) {
      grid-template-columns: repeat(4, 190px);
      grid-template-rows: repeat(4, 185px);
    }
    @media (max-width: $bp880) {
      grid-template-columns: repeat(3, 180px);
      grid-template-rows: repeat(6, 200px);
    }
    @media (max-width: $bp600) {
      grid-template-columns: repeat(3, 135px);
      grid-template-rows: repeat(5, 120px);
    }
    @media (max-width: $bp428) {
      grid-template-columns: repeat(3, 120px);
      grid-template-rows: repeat(5, 90px);
    }
    @media (max-width: $bp375) {
      grid-template-columns: repeat(2, 120px);
      grid-template-rows: repeat(8, 80px);
    }
  }

  &__item {
    padding: 40px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
      .technology {
        &__img {
          opacity: 0;
        }

        &__content {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &::before {
      content: "";
      width: 100%;
      height: calc(100% - 10px);
      margin: auto;
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-width: 0 1px 0 1px;
      border-style: solid;
      border-color: $gray;
      opacity: 0.4;
      pointer-events: none;
      transition: all 0.3s ease-in-out;
    }

    &::after {
      content: "";
      height: 100%;
      width: calc(100% - 10px);
      margin: auto;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-width: 1px 0 1px 0;
      border-style: solid;
      border-color: $gray;
      opacity: 0.4;
      pointer-events: none;
      transition: border-color 0.3s, opacity 0.6s;
    }

    &:nth-child(5n + 1):before {
      border-width: 0 1px 0 0;
    }

    &:nth-child(5n + 5):before {
      border-width: 0 0 0 1px;
    }

    @media (max-width: $bp428) {
      &:nth-child(3n + 1):before {
        border-width: 0 1px 0 0;
      }

      &:nth-child(3n + 3):before {
        border-width: 0 0 0 1px;
      }
    }
  }

  &__img {
    width: auto;
    opacity: 0.7;
    transition: all 0.3s ease;
  }

  &__content {
    position: absolute;
    left: 20px;
    top: 20px;
    opacity: 0;
    cursor: default;
    transition: all 0.3s linear;
  }

  &__subtitle {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: $gray;
  }

  &__text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    color: $light_gray_text;
    padding-right: 5px;

    @media (max-width: $bp1380) {
      font-size: 15px;
    }
  }
}
