// Container & Breakpoints
@use 'sass:math';
$innerWidth: 1280;
$innerPadding: 20;
$innerSidePadding: math.div($innerPadding, 2);

$breakpoint1440: 1440 + px;
$breakpoint1235: 1235 + px;
$breakpoint1024: 1024 + px;
$breakpoint991: 991 + px;
$breakpoint880: 880 + px;
$breakpoint768: 768 + px;
$breakpoint600: 600 + px;
$breakpoint480: 480 + px;
$breakpoint425: 425 + px;
$breakpoint375: 375 + px;
$breakpoint365: 365 + px;
$breakpoint320: 320 + px;

// Burger Menu
$burgerBreakpoint: $breakpoint768;
$burgerColor: 'orange';
$burgerActiveColor: 'white';

// Colors
$dark: #0c0c0c;
$black: #1d1d1f;
$orange: #fd6807;
$light_orange: #ffa010;
$gray: #dadada;
$light_gray_text: #9f9f9f;
$gray_text: #69696a;

// Fonts
$fontMain: 'Rubik', sans-serif;
$fontSecondary: '';
