.workflow {
  background-color: $dark;

  .inner {
    padding: 180px 40px;
  }

  .navigation {
    position: relative;
    width: 2px;
    height: 576px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(218, 218, 218, 0.7);
  }
  .navigation ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    // width: 350px;
  }
  .navigation ul li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    // width: 70px;
    height: 96px;
    z-index: 1;
    // background: #1634aca6;
  }

  .navigation ul li div {
    position: absolute;
    left: 66px;
    font-family: $fontMain;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    color: $gray;
    white-space: nowrap; // dont wrap text
  }

  .navigation ul li .text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
    opacity: 0;
    transform: translateY(5px);
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0c0c0c;
  }
  .navigation ul li.active .text {
    opacity: 1;
    transform: translateY(0);
  }
  .indicator {
    position: absolute;
    top: 0;
    width: 96px;
    height: 96px;
    background: #d9d9d9;
    border-radius: 50%;
    transition: 0.5s;

    &::after {
      content: '';
      width: 90px;
      height: 5px;
      position: absolute;
      left: 90px;
      top: 50%;
      transform: translateY(50%);
      background-color: $gray;
      // animation: moves 2s;
    }
  }
  @keyframes moves {
    0% {
      width: 0%;
    }

    100% {
      width: 90px;
    }
  }
  @keyframes moves-back {
    0% {
      width: 90px;
    }

    100% {
      width: 0%;
    }
  }

  .navigation ul li.active ~ .indicator {
    transform: translateY(calc(96px * 0)) scale(0.4);
    &::after {
      animation: moves-back 0.5s;
      animation: moves 1s;
    }
  }
  /* Indicator Transitions */
  .navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateY(calc(96px * 0)) scale(0.4);
  }
  .navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateY(calc(96px * 1)) scale(0.4);
  }
  .navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateY(calc(96px * 2)) scale(0.4);
  }
  .navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateY(calc(96px * 3)) scale(0.4);
  }
  .navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateY(calc(96px * 4)) scale(0.4);
  }
  .navigation ul li:nth-child(6).active ~ .indicator {
    transform: translateY(calc(96px * 5)) scale(0.4);
  }

  .tabs {
    display: flex;
    width: 100%;
    margin-top: 55px;

    &__header {
      display: flex;
      row-gap: 60px;
      flex-direction: column;
      justify-content: center;
      max-width: 400px;
      width: 100%;

      @media (max-width: 768px) {
        flex-wrap: wrap;
      }
      &-item {
        margin: 0 25px;
        cursor: pointer;

        &.active {
          color: red;
        }
      }
    }

    &__content {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      font-size: 75px;
      background: rgb(180, 180, 180);
    }
  }
}
