.workflow {
  background-color: $dark;

  .inner {
    padding: 180px 40px;

    @media (max-width: $bp991) {
      padding: 140px 40px;
    }
    @media (max-width: $bp600) {
      padding: 80px 30px;
    }
  }

  .tabs {
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    margin-top: 55px;

    @media (max-width: $bp991) {
      flex-direction: column;
    }

    &__background-blur {
      position: absolute;
      top: 45%;
      left: 47%;
      z-index: 0;
      transform: translate(-50%, -50%);
      pointer-events: none;

      @media (max-width: $bp600) {
        top: 220px;
        left: 53%;
      }
    }

    &__header {
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 60px;
      width: 100%;
      max-width: 400px;

      @media (max-width: $bp991) {
        flex-wrap: wrap;
        flex-direction: row;
        max-width: inherit;
        margin-bottom: 140px;
      }

      &-navigation {
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2px;
        height: 576px;
        border-radius: 10px;
        background: rgba(218, 218, 218, 0.7);

        @media (max-width: $bp991) {
          display: block;
          width: 100%;
          height: inherit;
          background: none;
        }
      }

      &-list {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: $bp991) {
          flex-wrap: nowrap;
          flex-direction: row;
          height: 100%;
          min-height: 85px;
          padding-bottom: 15px;
          overflow: auto;
        }
        @media (max-width: $bp600) {
          padding-bottom: 0px;
        }
      }

      &-item {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 96px;
        list-style: none;
        cursor: pointer;

        @media (max-width: $bp991) {
          display: flex;
          height: inherit;
          margin: 0;
          margin-right: 25px;
        }

        @for $i from 0 through 6 {
          &:nth-child(#{$i}).active ~ .tabs__header-indicator {
            transform: translateY(calc(96px * #{$i - 1})) scale(0.4);
          }
        }

        &.active {
          .tabs__header-number {
            opacity: 1;
            transition: 0.15s 0.27s ease-in-out;
            transform: translateY(0);
          }

          .tabs__header-caption {
            font-weight: 500;
            color: $gray;

            @media (max-width: $bp991) {
              font-weight: 700;
              padding: 11px 20px;
              background: $gray_text;
              border-radius: 27px;
            }
          }
        }
      }

      &-number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: $dark;
        opacity: 0;
        transform: translateY(-5px);

        @media (max-width: $bp991) {
          display: none;
        }
      }

      &-caption {
        position: absolute;
        left: 63px;
        font-weight: 300;
        font-size: 32px;
        line-height: 38px;
        white-space: nowrap;
        color: $light_gray_text;
        transition: 0.4s ease-in-out;

        @media (max-width: $bp991) {
          position: relative;
          left: inherit;
        }
        @media (max-width: $bp600) {
          font-size: 20px;
          line-height: 24px;
        }
      }

      &-indicator {
        position: absolute;
        top: 0;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        background: #d9d9d9;
        transition: 0.5s;

        @media (max-width: $bp991) {
          display: none;
        }

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 90px;
          width: 90px;
          height: 5px;
          background-color: $gray;
          transform: translateY(50%);
        }
      }
    }

    &__content {
      z-index: 1;
      display: flex;
      justify-content: right;
      align-items: center;
      width: 100%;
      opacity: 1;
      animation-timing-function: ease-in;
      transform: scale(1);

      @media (max-width: $bp991) {
        justify-content: center;
      }

      @keyframes showContent {
        0% {
          opacity: 0.3;
          transform: scale(0.85);
        }
        100% {
          opacity: 1;
          transform: scale(1);
          transform-origin: center bottom;
        }
      }

      &-item {
        position: relative;

        @media (max-width: $bp991) {
          margin-left: 100px;
        }
        @media (max-width: $bp600) {
          margin-left: 0;
        }
      }

      &-container-icon {
        position: absolute;
        top: 50%;
        left: -100px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 155px;
        height: 100%;
        max-height: 200px;
        background: $black;
        border-radius: 10px;
        transform: translateY(-50%);
        pointer-events: none;

        @media (max-width: $bp600) {
          top: -60px;
          left: 50%;
          max-width: 130px;
          max-height: 95px;
          transform: translateX(-50%);
        }

        img {
          @media (max-width: $bp600) {
            max-width: 60px;
          }
        }
      }

      &-wrapper {
        width: 100%;
        max-width: 660px;
        padding: 40px 60px 40px 85px;
        border-radius: 10px;
        background: $gray;

        @media (max-width: $bp768) {
          padding: 35px 40px 35px 85px;
        }
        @media (max-width: $bp600) {
          padding: 45px 20px;
        }
      }

      &-title {
        display: inline-block;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: $black;

        @media (max-width: $bp600) {
          margin-bottom: 15px;
        }
      }

      &-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 145%;
        color: $black_main_text;

        @media (max-width: $bp600) {
          font-size: 16px;
        }

        &:not(:last-of-type) {
          margin-bottom: 25px;

          @media (max-width: $bp600) {
            margin-bottom: 15px;
          }
        }
      }

      &-list {
        margin-left: 20px;
        font-weight: 400;
        font-size: 18px;
        line-height: 145%;
        color: $black_main_text;

        @media (max-width: $bp600) {
          font-size: 16px;
        }

        li {
          list-style: disc;
        }
      }
    }
  }
}
